@model BugTrackerTry.Models.Ticket
@using BugTrackerTry.Services 
@inject IImageService imageService 

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketType)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketAttachments)
        </dt>
        <dd class = "col-sm-10">
            @Model.TicketAttachments.Count
            @foreach(var ticketAttachment in Model.TicketAttachments)
            {
                <img class="img-fluid" style="width: 200px" src="@imageService.DecodeImage(ticketAttachment.ImageData, ticketAttachment.ContentType)" />
            }
        </dd>
    </dl>
</div>
<div>
    @foreach(var comment in Model.TicketComments)
        {
            @comment.CommentBody;
        }
</div>

<div>
    <form asp-action="Create" asp-controller="TicketComments" method="post">
        @Html.Hidden("TicketId", Model.Id)

        <div class="form-group">
            <label class="h3 control-label">Comment</label>
            <textarea name="CommentBody" class="form-control" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark btn-block">Add Comment</button>
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
