@model IEnumerable<BugTrackerTry.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <ul style="list-style-type: none; padding: 0; margin: 0">
                    @foreach (var projectUser in item.ProjectUsers)
                    {
                        <li>@projectUser.UserName</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container-fluid">

    @foreach (var proj in Model)
    {
        <div class="container m-2 projectItem">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3 border border-dark p-1">
                            <div class="projectItemBlock">
                                @Html.DisplayFor(projItem => proj.Name)
                            </div>
                        </div>
                        <div class="col-9 border border-dark p-1">
                            <div class="projectItemBlock">
                                @Html.DisplayNameFor(projItem => proj.Created)
                                @Html.DisplayFor(projItem => proj.Created)
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7 border border-dark p-1">
                            <div class="projectItemBlock">
                                @Html.DisplayFor(projItem => proj.Description)
                            </div>
                        </div>
                        <div class="col-5 border border-dark p-1">
                            <div class="projectItemBlock">
                                <ul style="list-style-type: none; padding: 0; margin: 0">
                                    @foreach (var projectUser in proj.ProjectUsers)
                                    {
                                        <li>@projectUser.UserName</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 border border-dark p-1">
                    <div class="projectItemBlock">
                        <a asp-action="Edit" asp-route-id="@proj.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@proj.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@proj.Id">Delete</a> |
                        <a asp-action="" asp-route-id="@proj.Id">Save</a>
                    </div>
                </div>
            </div>
        </div>

    }

</div>


