@model IEnumerable<BugTrackerTry.Models.Project>
@using BugTrackerTry.Services
@inject IImageService imageService 

@{
    ViewData["Title"] = "Index";
}
@*<div class="text-center">
    <h1 class="display-4">
        Projects
    </h1>
    <a class="btn btn-outline-dark btn-search mb-2" asp-area="" asp-controller="Projects" asp-action="Create">New</a>

</div>*@

<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item text-center">
        <h1 class="display-4">
            Projects
        </h1>
    </div>
    <div class="grid-item" id="newProject">
        <a class="btn btn-outline-dark mb-2 btn-edit" asp-area="" asp-controller="Projects" asp-action="Create">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>


@foreach (var project in Model)
{
    <div class="row align-items-center">
        <div class="col-2">
            <div class="indexedImageContainer">
                <img class="indexedImage" src="@imageService.DecodeImage(project.ImageData, project.ContentType)" />
            </div>
        </div>
        <div class="col-10">
            <div class="card mb-2 mt-2 box-shadow">
                <div class="row">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">@project.Name</h5>
                                <p>@project.Description</p>
                                <p>Created @project.Created</p>
                            </div>
                            <div class="col-2" id="linkList">
                                <div>
                                    <a asp-controller="Tickets" asp-action="Index" asp-route-id="@project.Id">Tickets</a>
                                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">Details</a>
                                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
                                    <a asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





